In [32]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import gkey

In [33]:
file='weather_data.csv'
part_one_df = pd.read_csv(file)
part_one_df.head(100)

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Pacific Grove,1,US,1579905780,67,36.62,-121.92,293.71,2.60
1,1,Tiksi,0,RU,1579905848,85,71.69,128.87,237.49,2.69
2,2,Grand Gaube,75,MU,1579905965,94,-20.01,57.66,299.15,5.70
3,3,Qaanaaq,0,GL,1579905965,49,77.48,-69.36,251.39,4.28
4,4,Upernavik,85,GL,1579905966,95,72.79,-56.15,247.39,1.88
...,...,...,...,...,...,...,...,...,...,...
95,95,Lorengau,9,PG,1579905996,69,-2.02,147.27,301.78,2.28
96,96,Gazojak,100,TM,1579905996,83,41.19,61.40,274.94,4.90
97,97,Carutapera,100,BR,1579905996,80,-1.20,-46.02,301.56,7.50
98,98,Jumla,0,NP,1579905997,43,29.27,82.18,267.30,2.55
99,99,Kilindoni,100,TZ,1579905997,86,-7.91,39.67,298.62,4.14

In [34]:
gmaps.configure(api_key=gkey)

In [35]:
locations = part_one_df[["Lat", "Lng"]].astype(float)
Humidity=part_one_df["Humidity"].astype(int)
Humidity.max()

100

In [38]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=Humidity, 
                                 dissipating=False, max_intensity=250,
                                 point_radius = 4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [61]:
part_one_df_select = part_one_df.loc[(part_one_df["Max Temp"] <= 300 ) , :]
part_one_df_select = part_one_df_select.loc[(part_one_df["Wind Speed"] == 1 ) , :]
hotel = part_one_df_select.loc[(part_one_df["Cloudiness"] <= 20 ) , :]
hotel

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
139,139,Ponta do Sol,20,PT,1579906010,54,32.67,-17.10,288.15,1.0
278,278,Porto-Novo,0,BJ,1579905911,78,6.50,2.60,298.15,1.0
308,308,Buarcos,20,PT,1579906068,76,40.17,-8.88,284.82,1.0
568,568,Melilla,3,ES,1579906151,81,35.29,-2.94,285.37,1.0

In [104]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [131]:
#str(list1).replace('[','"').replace(']','"') 
target_coordinates = hotel[["Lat","Lng"]].values.tolist()

In [137]:
hname=[]
hlat=[]
hlng=[]
vicinity=[]
for r in target_coordinates:
    t_coordinates=str(r).replace('[','').replace(']','') 
    t_radius = 5000
    t_type = "hotel"
    params = {
    "location": t_coordinates,
    "radius": t_radius,
    "type": t_type,
    "key": gkey}
    try:
        response = requests.get(base_url, params=params).json()
        hname.append(response['results'][1]['name'])
        hlat.append(response['results'][1]['geometry']['location']['lat'])
        hlng.append(response['results'][1]['geometry']['location']['lng'])
        vicinity.append(response['results'][1]['vicinity'])
    except:
        print("Hotel not found. Skipping...")
    continue

In [138]:
dic={"Name": hname,
    "Lat":hlat, 
    "Lng":hlng, 
    "City": vicinity}
hotel_df = pd.DataFrame(dic)
hotel_df.head()

,Name,Lat,Lng,City
0,Hotel do Campo,32.676959,-17.066139,"Estrada da Banda de Além nº25, Ribeira Brava"
1,Tour Eiffel Hotel Benin,6.481656,2.595743,"B.P. 1946 COTONOU BENIN, Porto-Novo"
2,Hotel Sweet Atlantic SPA,40.150596,-8.866461,"Avenida 25 de Abril 21, Figueira da Foz"
3,Hôtel Anfora,35.293667,-2.938202,"Calle Pablo Vallescá, 12, Melilla"

In [149]:
coordinates =hotel_df[["Lat","Lng"]]
namesH=hotel_df["Name"]

In [150]:
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)
markers = gmaps.marker_layer(coordinates,  info_box_content=namesH)
fig.add_layer(markers)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…